.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid hsla(233, 14%, 35%, 0.699);
}

.todoTaskBtn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid hsla(233, 14%, 35%, 0.699);
  margin: auto;
  cursor: pointer;
}

.todoTaskBtn:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.taskCompleted {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todoTask {
  margin: auto;
  margin-left: 0;
  width: 85%;
  cursor: default;
}

.strike {
  text-decoration: line-through;
}
