@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

:root {
  --background: hsl(236, 33%, 92%);
  --formBackground: hsl(0, 0%, 98%);
  --text-primary: hsl(235, 19%, 35%);
}

[data-theme='dark'] {
  --background: hsl(235, 21%, 11%);
  --formBackground: hsl(235, 24%, 19%);
  --text-primary: hsl(236, 33%, 92%);
}

.app {
  background-color: var(--background);
  transition: all 0.5s;
  height: 100vh;
  position: relative;
}

section {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
}

.banner {
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 40%;
  margin: auto;
}

.title {
  color: hsl(0, 0%, 98%);
  font-size: 60px;
  letter-spacing: 30px;
  font-weight: 700;
}

button {
  background: none;
  border: none;
}

.switchIcon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: var(--text-primary);
}
