@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

:root {
  /* Light Theme */
  --formBackground: hsl(0, 0%, 98%);
  --background: hsl(236, 33%, 92%);
  --completed: hsl(233, 11%, 84%);
  --textTertiary: hsl(236, 9%, 61%);
  --textHover: hsl(233, 11%, 33%);
  --textPrimary: hsl(235, 19%, 35%);
}

[data-theme='dark'] {
  /* Dark Theme */
  --background: hsl(235, 21%, 11%);
  --formBackground: hsl(235, 24%, 19%);
  --textPrimary: hsl(234, 39%, 85%);
  --textHover: hsl(236, 33%, 92%); /* hover */
  --textTertiary: hsl(234, 11%, 52%);
  --completed: hsl(233, 14%, 35%);
}

.app {
  background-color: var(--background);
  transition: all 0.5s;
  height: 100vh;
  position: relative;
  overflow: auto;
}

section {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding-bottom: 5%;
}

.banner {
  height: 380px;
  width: 100%;
  object-fit: cover;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 45%;
  margin: auto;
}

.title {
  color: hsl(0, 0%, 98%);
  font-size: 60px;
  letter-spacing: 30px;
  font-weight: 700;
  cursor: default;
}

button {
  background: none;
  border: none;
}

.switchIcon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: var(--textPrimary);
}
